* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(207, 206, 206);
}

.section1 {
    background-color: black;
    height: 140px;
}

.content {
    margin: auto;
    margin-top: -110px;
}

.textured-text {
    font-size: 30px;
    color: white;
}

.blue-text {
    font-size: 30px;
    color: blue;
}

.sub-text {
    color: white;
    margin-bottom: 10px;
}

.nav-div {
    display: flex;
    background-color: rgb(41, 170, 245);
}

.heading:hover {
    background-color: rgb(31, 126, 180);
    cursor: default;
}

.heading1 {
    background-color: rgb(31, 126, 180);
}

.content-text {
    font-size: 10px;
    color: rgb(70, 70, 70);
    line-height: 12px;
}

.heading p {
    color: white;
}

.container {
    margin: 0;
    display: flex;
    background-color: white;
    flex-wrap: nowrap;
}

.box1 {
    width: 70vw;
}

.box2 {
    width: 30vw;
}

.top-head {
    font-size: 16px;
    margin-bottom: 10px;
}

.blue-head {
    color: rgb(38, 151, 216);
    font-size: 12px;
}

.browser-text {
    font-size: 16px !important;
}

.date {
    font-size: 10px;
    margin-bottom: 8px;
}

.testing-text {
    margin: 10px 0px;
}

.links {
    list-style: none;
    font-size: 10px;
}

.links i {
    margin-right: 5px;
}

.links li {
    padding: 4px 0px;
    font-size: 10px;
}

.list {
    margin-left: 10px;
}

input {
    border: 1px solid black;
    height: 16px;
    padding: 4px;
    border-radius: 2px;
    width: 70%;
    font-size: 10px;
}

#search-icon {
    font-size: 12px;
}

.footer {
    background-color: rgb(29, 125, 180);
    text-align: center;
    color: white;
    padding: 16px 0px;
    line-height: 15px;
}


/*========================================================================*/


/*Media Queries*/

@media only screen and (max-width: 400px) {
    .content {
        width: 90vw;
    }
    .box1 {
        width: 65%;
        padding: 10px;
        padding-right: 5px;
    }
    .box2 {
        width: 35%;
        padding: 10px;
        padding-left: 5px;
    }
    .heading p {
        color: white;
    }
    .footer-content {
        font-size: 8px;
    }
    .heading {
        padding: 18.8px 8px;
        font-size: 8px;
    }
}

@media only screen and (min-width:401px) and (max-width: 760px) {
    .content {
        width: 90vw;
    }
    .box1 {
        width: 65%;
        padding: 20px;
        padding-right: 10px;
    }
    .box2 {
        width: 35%;
        padding: 20px;
        padding-left: 10px;
    }
    .heading p {
        color: white;
    }
    .footer-content {
        font-size: 10px;
    }
    .heading {
        padding: 18.3px 9px;
        font-size: 9px;
    }
}

@media only screen and (min-width: 761px) and (max-width:900px) {
    .content {
        width: 65vw;
    }
    .box1 {
        width: 70%;
        padding: 20px;
        padding-right: 10px;
    }
    .box2 {
        width: 30%;
        padding: 20px;
        padding-left: 10px;
    }
    .heading p {
        color: white;
    }
    .footer-content {
        font-size: 10px;
    }
    .heading {
        padding: 17px 15px;
        font-size: 11px;
    }
}

@media only screen and (min-width: 901px) {
    .content {
        width: 45vw;
    }
    .box1 {
        width: 70%;
        padding: 20px;
        padding-right: 10px;
    }
    .box2 {
        width: 30%;
        padding: 20px;
        padding-left: 10px;
    }
    .heading p {
        color: white;
    }
    .footer-content {
        font-size: 10px;
    }
    .heading {
        padding: 17px 15px;
        font-size: 11px;
    }
}